
*body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

:root {
    --rojo-oscuro: #8B0000;
    --naranja-quemado: #FF4500;
    --marron: #8B4513;
    --verde-oliva: #556B2F;
    --amarillo-mostaza: #DAA520;
    --oro: #FFD700;
}


/* Estilos generales del cuerpo de la página */
body {
    font-family: Arial, sans-serif; /* Establece la fuente de texto a Arial, o a sans-serif como fuente secundaria si Arial no está disponible */
    margin: 20px; /* Aplica un margen de 20px alrededor del cuerpo de la página */
    background-color: #f0f0f0; /* Establece el color de fondo a un tono gris claro */
}

/* Estilo para todos los elementos <h1> */
h1 {
    color: #333; /* Define el color del texto como un gris oscuro */
}

/* Estilo para todas las tablas en la página */
table {
    width: 100%; /* Hace que la tabla ocupe el 100% del ancho del contenedor */
    border-collapse: collapse; /* Colapsa los bordes de la tabla para evitar espacios dobles */
    margin-top: 20px; /* Añade un margen superior de 20px para separar la tabla de otros elementos */
}

/* Estilo para las celdas de encabezado (<th>) y celdas de datos (<td>) */
th,
td {
    border: 1px solid #ddd; /* Añade un borde sólido y delgado de color gris claro a las celdas */
    padding: 8px; /* Añade un relleno de 8px dentro de las celdas para espacio interior */
    text-align: center; /* Alinea el texto al centro dentro de las celdas */
}

/* Estilo para las celdas de encabezado de la tabla */
th {
    background-color: var(--verde-oliva); /* Establece un color de fondo verde para las celdas de encabezado */
    color: white; /* Cambia el color del texto de las celdas de encabezado a blanco */
}

/* Estilo general para todos los botones */
button {
    padding: 5px 10px; /* Añade relleno al botón: 5px arriba y abajo, 10px a los lados */
    background-color: var(--verde-oliva); /* Establece el color de fondo del botón a verde */
    color: white; /* Define el color del texto del botón a blanco */
    border: none; /* Elimina cualquier borde del botón */
    cursor: pointer; /* Cambia el cursor a una mano cuando se pasa por encima del botón */
    margin: 2px; /* Añade un pequeño margen alrededor del botón */
}

/* Estilo de botón cuando se pasa el cursor sobre él */
button:hover {
    background-color: var(--verde-oliva);  /* Cambia el color de fondo a un tono verde más oscuro al pasar el cursor */
}

/* Estilo para todos los formularios */
form {
    display: flex; /* Utiliza Flexbox para el diseño del formulario */
    flex-direction: column; /* Ordena los elementos del formulario en una columna */
    max-width: 300px; /* Limita el ancho máximo del formulario a 300px */
}

/* Estilo para todos los elementos <label> dentro de un formulario */
label {
    margin: 10px 0 5px; /* Añade un margen arriba y abajo para espaciar los elementos */
}

/* Estilo para todos los elementos de entrada y botones de tipo "submit" */
input,
button[type="submit"] {
    padding: 8px; /* Añade un relleno de 8px dentro de los elementos de entrada y botones */
    margin-bottom: 10px; /* Añade un margen inferior de 10px para espaciar los elementos entre sí */
}

/* Estilo específico para botones de tipo "submit" */
button[type="submit"] {
    background-color:var(--verde-oliva);  /* Establece el color de fondo del botón a verde */
    color: white; /* Define el color del texto del botón a blanco */
    border: none; /* Elimina cualquier borde del botón */
    cursor: pointer; /* Cambia el cursor a una mano cuando se pasa por encima del botón */
}

/* Estilo de botón "submit" cuando se pasa el cursor sobre él */
button[type="submit"]:hover {
    background-color:var(--verde-oliva);  /* Cambia el color de fondo a un tono verde más oscuro al pasar el cursor */
}

/* Estilo para todas las imágenes */
img {
    width: 50px; /* Establece el ancho de la imagen a 50px */
    height: 50px; /* Establece la altura de la imagen a 50px */
    object-fit: cover; /* Escala la imagen para llenar el área dada mientras mantiene su proporción */
}

/* Estilo del menú de navegación */
.navbar {
    background-color: var(--verde-oliva);  /* Establece el color de fondo de la barra de navegación a verde oscuro */
    overflow: hidden; /* Oculta cualquier contenido que desborde el contenedor */
}

/* Estilo para las listas no ordenadas dentro de la barra de navegación */
.navbar ul {
    list-style-type: none; /* Elimina los puntos de viñeta de la lista */
    margin: 0; /* Elimina los márgenes por defecto de la lista */
    padding: 0; /* Elimina el relleno por defecto de la lista */
    display: flex; /* Utiliza Flexbox para el diseño del menú de navegación */
    justify-content: center; /* Centra los elementos dentro del menú de navegación */
}

/* Estilo para cada elemento de la lista en la barra de navegación */
.navbar li {
    padding: 14px 20px; /* Añade relleno alrededor de cada elemento de la lista */
}

/* Estilo para los enlaces dentro de la barra de navegación */
.navbar a {
    color: white; /* Cambia el color del texto de los enlaces a blanco */
    text-align: center; /* Alinea el texto de los enlaces al centro */
    padding: 14px 20px; /* Añade relleno alrededor de los enlaces */
    text-decoration: none; /* Elimina el subrayado por defecto de los enlaces */
    display: block; /* Hace que el enlace ocupe el ancho total del elemento de lista */
}

/* Estilo para los enlaces en la barra de navegación cuando se pasa el cursor sobre ellos */
.navbar a:hover {
    background-color: #4b8017; /* Cambia el color de fondo a un tono más oscuro al pasar el cursor */
    color: white; /* Mantiene el color del texto a blanco */
}

.card {
    width: 300px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.navbar {
    background-color: #333;
    padding: 10px 20px;
}

.navbar a {
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar a:hover {
    background-color: #555;
    color: #fff;
}

.navbar-brand {
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Carrito de compra*/
/* Estilo inicial del carrito */
.carrito {
    width: 200px; /* Tamaño inicial */
    height: 200px;
    background-color: #f8f9fa; /* Color de fondo */
    border-radius: 50%; /* Hacer el carrito redondo */
    position: fixed; /* Posición fija */
    bottom: 20px; /* Posicionado en la parte inferior */
    right: 20px; /* A la derecha */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease; /* Animación */
  }
  
  /* Al pasar el ratón sobre el carrito */
  .carrito:hover {
    transform: scale(1.2); /* Aumenta el tamaño en un 20% */
    background-color: #e7b11d; /* Cambia el color de fondo */
  }
  
  /* Icono del carrito */
  .carrito i {
    font-size: 24px;
    color: #343a40;
  }
  
  /* Al hacer clic en el carrito (mejora usabilidad) */
  .carrito:active {
    transform: scale(1.1); /* Reduce ligeramente al hacer clic */
    background-color: #0056b3;
  }

    /*Logo */

    .logo{

        width: 100px;
    }

   /* Estilos para el header inferior con imagen de fondo */
.header-inferior {
    position: relative;
    text-align: center;
    color: white;
}

.header-inferior img {
    width: 100%;
    height: auto;
    display: block;
}

.header-inferior h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

/* Footer */
footer {
    margin-top: 40px;
    background-color: #222;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer .social-icons {
    margin-bottom: 10px;
}

footer .social-icons a {
    margin: 0 10px;
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
}

footer p {
    margin-top: 10px;
    font-size: 1rem;
    color: #aaa;
}

/* Estilos para mejorar el bloque de tasas de cambio */
.tasa-cambio {
    background-color: rgba(255, 255, 255, 0.1); /* Fondo sutil para destacar el bloque */
    padding: 5px 10px;
    border-radius: 5px;
}

.tasa-cambio div {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}

.tasa-cambio i {
    color: #ffd700; /* Color dorado para los iconos */
    font-size: 1.2rem;
    margin-right: 5px;
}

.tasa-cambio span {
    color: #ffffff;
}

/* Estilo para el modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed; /* Fijo en la ventana del navegador */
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    z-index: 1000; /* Capa alta para estar sobre otros elementos */
    background-color: rgba(0, 0, 0, 0.6); /* Fondo oscuro y semi-transparente */
    padding: 0;
    align-items: flex-end; /* Posicionar abajo */
    justify-content: center; /* Centrado horizontal */
    transition: opacity 0.3s ease-in-out; /* Animación suave */
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    margin: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    animation: slideUp 0.3s ease-out; /* Animación para deslizarse desde abajo */
}

.modal-content h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.modal-content label {
    font-weight: bold;
    margin-top: 10px;
}

.modal-content input[type="text"],
.modal-content input[type="number"],
.modal-content input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal-content button {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
}

.modal-content button:hover {
    background-color: #218838;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Animación para que el modal se deslice desde abajo */
@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Para hacer visible el modal */
.modal.show {
    display: flex;
    opacity: 1;
}

/*Vista previa de imagen a ingresar*/

.img-preview {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    margin-top: 10px;
}

#formularioPrenda {
    background-color: #fff; /* Fondo blanco para el formulario */
    padding: 30px; /* Espacio interior */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    width: 400px; /* Ancho del formulario */
    max-width: 90%; /* Asegura que no exceda el 90% del ancho de la pantalla */
}
